.selection-creator-container{
  position: relative;
  background: #0a3d6b;
}
.selection-creator-container .selection-creator-children{
  position: relative;
  z-index:0;
}
.selection-creator-container .selection-creator-canvas-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: crosshair;
}
.selection-creator-container .selection-creator-selections-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: crosshair;
}
.selection-creator-container .selection-creator-selections-container .selection-node{
  background: rgba(18,103,98,0.6);
  border: 1px solid #7AFFF6;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
}
.selection-creator-container .selection-creator-selections-container .selection-node:hover .selection-item-handle{
  visibility: visible !important;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-item-content .selection-item-handle{
  position: absolute;
  top: 0px;
  right: 0;
  visibility: hidden;
  display:flex;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-item-content .selection-item-handle .selection-item-operator{
  background: rgba(255,255,255,.4);
  padding: 2px 5px;
  font-size: 12px;
}
.selection-creator-container .selection-creator-selections-container .selection-node.selection-no-show-operation .selection-item-content{
  display: none;
}
.selection-creator-container .selection-creator-selections-container .selection-node.selection-node-selected{
  background: rgba(13, 68, 90, 0.9);
  border-color: #56ccc4;
}
.selection-creator-container .selection-creator-selections-container .selection-node.selection-node-selected .selection-resize{
  background: #56ccc4;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-resize{
  position: absolute;
  cursor: nwse-resize;
  width: 6px;
  height: 6px;
  background: #7AFFF6;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-resize{
  position: absolute;
  cursor: nwse-resize;
  width: 6px;
  height: 6px;
  background: #7AFFF6;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-left-top{
  left: -3px;
  top: -3px;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-top{
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-right-top{
  right: -3px;
  top: -3px;
  cursor: nesw-resize;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-right{
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-right-bottom{
  right: -3px;
  bottom: -3px;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-bottom{
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-left-bottom{
  left: -3px;
  bottom: -3px;
  cursor: nesw-resize;
}
.selection-creator-container .selection-creator-selections-container .selection-node .selection-direction-left{
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.selection-creator-container .selection-creator-canvas-container.selection-grabbing{
  cursor: grabbing;
}
.selection-creator-container .selection-creator-canvas-container.selection-resizing{
  cursor: nwse-resize;
}
.selection-creator-container .selection-creator-canvas-container.selection-resizing-nesw{
  cursor: nesw-resize;
}
.selection-creator-container .selection-creator-canvas-container.selection-ns-resizing{
  cursor: ns-resize;
}
.selection-creator-container .selection-creator-canvas-container.selection-ew-resizing{
  cursor: ew-resize;
}
